doctype html
head
    title= DataBase
    link(rel="stylesheet", href="/css/main.css")
body
    h1 Add Person
    hr

    form(action="", method="post")
        p
            input(type="text", name="first_name", placeholder="First Name", required)
        p
            input(type="text", name="last_name", placeholder="Last Name", required)
        p
            input(type="text", name="personal_no", placeholder="Personal N", required)   
        p
            input(type="text", name="mid_name", placeholder="Mid Name") 
        p   
            input(type="date", name="birth_date", placeholder="Date of Birth")
        p
            button(type="submit")   Save Person
