doctype html
head
    title= title
    link(rel="stylesheet", href="/css/main.css")
body
    h1= title
    hr
<<<<<<< HEAD
=======
    //- a(href="/person")
>>>>>>> 0a8ab6d9310be8961a87769d27d17cc8237445ba
    a(href="/main")        

    form(action="", method="post")
        p
            input(type="text", name="first_name", placeholder="First Name", required)
        p
            input(type="text", name="last_name", placeholder="Last Name", required)
        p
            input(type="text", name="mid_name", placeholder="Mid Name", required)
        p
            input(type="number", name="personal_no", placeholder="Personal N")
        p   
            input(type="number", name="birth_date", placeholder="Date of Birth")
        p
<<<<<<< HEAD
            button(type="submit" id="save1")   Save Person
=======
            button(type="submit")   Save Person
>>>>>>> 0a8ab6d9310be8961a87769d27d17cc8237445ba
        <br>
        p
            input(type="text", name="car_maker", placeholder="Car Maker")
        p
            input(type="text", name="model", placeholder="Car Model")
        p
            input(type="text", name="vin", placeholder="Car VIN", required)
        p
            input(type="number", name="plate_number", placeholder="State Number", required)
        p
            input(type="text", name="color", placeholder="Car Color")
        p
            //- input(type="number", name="owner_id", placeholder="Owner ID")
        p
<<<<<<< HEAD
            button(type="submit" id="save2")   Save Car        
=======
            button(type="submit")   Save Car        
>>>>>>> 0a8ab6d9310be8961a87769d27d17cc8237445ba
