doctype html
head
    title= title
    link(rel="stylesheet", href="/css/main.css")
body
    h1= title
    hr
    a(href="/person")        

    form(action="", method="post")
        p
            input(type="text", name="Person_name", placeholder="Person name", required)
        p
            input(type="text", name="Person_name", placeholder="Person fullName", required)
        p
            input(type="text", name="dad_name", placeholder="Dad  name", required)
        p
            input(type="number", name="Person_id", placeholder="Person id")
        p   
            input(type="number", name="Birth_date", placeholder="Date of Birth")
        p
            button(type="submit")   Save Person