doctype html
head
    title= title
    link(rel="stylesheet", href="/css/main.css")
body
    h1= title
    hr
    //- a(href="/person")
    a(href="/main")        

    form(action="", method="post")
        p
            input(type="text", name="first_name", placeholder="First Name", required)
        p
            input(type="text", name="last_name", placeholder="Last Name", required)
        p
            input(type="text", name="mid_name", placeholder="Mid Name", required)
        p
            input(type="number", name="personal_no", placeholder="Personal N")
        p   
            input(type="number", name="birth_date", placeholder="Date of Birth")
        p
            button(type="submit")   Save Person               