
.header {background-color: grey;
color: white;
padding: 25px}

ul {padding: 0}
ul li { 
    width: 150px;
      background-color: lightskyblue;
      border: 2px solid white;
color:white;
overflow: hidden;
padding: 10px}

.links {float: left;
    width: 200px}
.article { 
   
    float: centre;
    width: calc(50%-400px)
       
}
.footer { 
    clear: both;
    background-color: grey;
padding: 20px;
color: white}