* {
    background-color: antiquewhite
}

.container {
    padding: 30px;
    display: grid;

    text-align: center;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;


}

.name1 {
    padding: 30px;
    border: 1px solid grey;
    margin: 20px;
    font-size: 1.5em;
    color: blueviolet
}

.name2 {
    padding: 30px;
    border: 1px solid grey;
    margin: 20px;
    font-size: 1.5em;
    color: blueviolet
}

.name3 {
    padding: 30px;
    color: blueviolet
}

.name4 {
    padding: 30px;
    color: blueviolet
}

.container1 {
    background-color: lightgray;
}

.container div a {
    text-decoration: none;
    font-size: 1.5em;

}

.box {
    border: 1px solid grey;
    margin: 20px
}