body {
    display: table;
    font-size: 60px;
    border: 10px solid rgb(65, 65, 65);
    padding: 2px;
    margin-left: auto;
    margin-right: auto;
}

.row:nth-child(2n+1)>:nth-child(2n+1) {
    background-color: rgb(70, 70, 70);
}

.row:nth-child(2n)>:nth-child(2n) {
    background-color: rgb(70, 70, 70);
}

.inl-blk-row {
    float: left;
}