.footer {
  position: relative;
  z-index: 1;
  background-color: #252525;
  padding: 80px 0;
  float: left;
  width: 100%;
}

.footer .left {
  float: left;
  width: 40%;
  color: #fff;
}

.footer .left .copy {
  color: #efefef;
  font-size: 12px;
}

.footer .right {
  float: left;
  width: 60%;
  text-align: right;
}

.footer-nav li {
  display: inline;
  font-size: 16px;
  color: #fff;
  margin-right: 35px;
}

.footer-nav li a {
  color: #fff;
}

.footer-nav li a:hover {
  color: rgb(0, 255, 157);
}
