.container {
    padding: 20px ;
    display: grid;
    width: 100%;
    max-width: 100px;
    text-align: center;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;  
    
       
}
.container2 {
    padding: 20px ;
    display: grid;
    width: 100%;
    max-width: 100px;
    text-align: center;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;  
       
}

/* hr {
    max-width: 400px;
    align-content: left;
} */
     .color {
         padding: 30px;
         border: 1px solid grey;
         border-radius: 5px;
           }
.color1 {

    background-color: deepskyblue
}
.color2 {

    background-color: burlywood
}
.color3 {

    background-color: lightblue
}
.color4 {

    background-color: lavender
}
.color5 {

    background-color: lightgrey
}
.color6 {

    background-color:lightpink
}
.color7 {

    background-color: lightcyan
}
.color8 {

    background-color: lightgreen
}
.color9 {

    background-color: lemonchiffon
}
