/* 
 * Colors
 * 
 * Dark gray		#34383c
 * medium gray		#81858a
 * purple			#620e6e
 * blue				#4385c1
 * light blue		#9ac9f4
 * darker blue		#043867
 * darkest blue	#002342
 * blue tint		#e7ecf0
 * green				#7aa120
 */



body {
	background: white;
	color: #81858a;
	font: 1em/1.6 Helvetica, Verdana, sans-serif;
}

header {
	background: #4385c1;
	color: white;
	font-size: .9rem;
	display: flex;
	box-sizing: border-box;
	padding: 40px;
	width: 100%

}


footer {
	background: #34383c;
	color: white;
	padding: 1em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Georgia, serif;
	font-weight: normal;
}
h1 {}
h2 {
	font: 2.25rem/1.2 Helvetica, Verdana, sans-serif;
}
h3 { }
h4 {
	font-size: 1.2rem;
}
h5 {}
h6 {}
p {	font-size: .925rem;
}


img {
	max-width: 100%;
}


/* Links */
a:link, a:visited {
	color: #4385c1;
	text-decoration: none;
}
a:hover, a:focus, a:active {
	color: #043867;
}



/* Header */


#quick-nav {
	flex: 1;

	}
#quick-nav ul {
	list-style: none;
	margin: 0;
	padding:5px;
}

#quick-nav li {
	border-right: 1px solid #9ac9f4;
	display: inline-block;
	font-size: 1em;
	padding-right:5px;
	
}
#quick-nav li:last-of-type {
	border: none;
}

#quick-nav a:link, #quick-nav a:visited {
	color: white;	
}
#quick-nav a:hover, #quick-nav a:focus, #quick-nav a:active {
	color: #9ac9f4;
}

.branding {
	color: #9ac9f4;
	flex: 3;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.branding p {
	flex: 1
}

.branding img {
	flex: 1
}


.utilities  a {
	color: white;
	border: 1px solid white;
	border-radius: 5px;
	margin: 10px;
	padding: 5px 10px;
	flex: 1
}
#main-nav {
	background-color: #043867;
	font-family: Georgia, serif;
    font-size: 1.2em;
    list-style: none;
    text-align: center;
    
	}

#main-nav li:hover {
    background-color:#002342;
    
}
#main-nav ul{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#main-nav ul li a{
	text-decoration: none;
	color: white;
}
#main-nav ul li {

    display: inline-block;
    margin: 0;
    border-left: 1px solid #4385c1;
    padding: 20px;
     
    	
}
#main-nav li:last-child {
    border-right: 1px solid #4385c1;
}


	.hero {
	position: relative;
	text-align: center;
	color: white;
	font-size: 2em;
	
	}
	.hero img {
		width: 100%;
	}	


	.imgtext {
		position: absolute;
		box-sizing: border-box;
		border-top: 1px solid white;
		border-bottom: 1px solid white;
		width: 60%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	
	.banner {
		display: flex;
		width: 100%;
		height: 150px;
		background-color: #7aa120;
		color: white;
		align-items: center;
		
	}
	
	.banner h3 {
		flex: 2;
		font-size: 50px;
		text-align: center;
		}
	
	.banner p {
		flex: 3;
		}


#full-nav a:link, #full-nav a:visited {
	color: #81858a;	
}
#full-nav h3 a:link, #full-nav h3 a:visited {
	color: white;
}
#full-nav a:hover, #full-nav a:focus, #full-nav a:active {
	color: white;
}

.container {
	padding: 20px ;
    display: grid;
    width: 100%;
    box-sizing: border-box;
    grid-gap: 30px;
    grid-template-columns: repeat(9, 1fr);
	grid-template-rows: auto;
	
	}

.hero {
	grid-row: 1;
	grid-column: 1 / 10
}

.banner {
	grid-row: 2;
	grid-column: 1 / 10
}

.program1 {
	grid-row: 3;
	grid-column: 1 / 4;
	background-color:#e7ecf0;

}
.program2 {
	grid-row: 3;
	grid-column: 4 / 7;
	background-color:#e7ecf0;
	
}


.program3 {
	grid-row: 3;
	grid-column: 7 / 10;
	background-color:#e7ecf0;
}
.program3 h2 {
	color:#4385c1;
}
.more1 {
	grid-row: 4;
	grid-column: 1 / 4;

	background-color: purple;

}
.more2 {
	grid-row:4;
	grid-column: 4 / 7;

	background-color: #9ac9f4;

}
	
.events {
	grid-row: 4;
	grid-column: 7 / 10

}
.last-buttons {
	grid-row: 5;
	grid-column: 1 / 10
}


.item {
	text-align: left;
	padding: 20px;
	width: 350px;
	height: 300px;
}

.item2 {
	text-align: left;
	padding: 20px;
	width: 350px;
	height: 300px;
}

.item2  h2 {
	color: white
}
.item2  p {
	color: white;
	font: 2.25rem/1.2 Helvetica, Verdana, sans-serif;
}



.last-buttons {
	display: flex;
	font-size: 1.2em;
    list-style: none;
    text-align: center;
}

.last-button  {
	display: inline-block;
	flex: 1;
	border: 1px solid #4385c1;
	padding: 7px;
	border-radius: 3px;
	margin: 0 20px;
}



#full-nav {
	display: flex;
	}

.full-nav-item {
	flex: 1;
}

#full-nav ul li  {
	list-style: none;
	}


#full-nav ul {
	text-align: left;
	padding-left: 0;
}


hr {
	border: 1px solid grey;
	width: 90%;
	box-align: center;
}

small p {
	text-align: center
}


.upevents {
	padding: 0;
	background: white;
	position: relative;
	
}
.event h4 {
	color: black;
	/* position:absolute */
	widht: 200px;
	
}

.date1, 
.date2 {
    font-size: 20px;
	text-align: center;
	color: green;
	margin: 0;
	padding: 0;
	border: 2px solid gray;
	border-radius: 5px;
	width: 70px;
	height: 70px;

}



/* .ivent1 {
	position: relative;
} */
.date1 {
	top: 70px;
	left: 20px;
	margin-bottom: 20px;

}
.event-name1 {
	
	position: relative;
	top: 10px;
	left: 140px;
	font-size: 20px;
	color: #9ac9f4;
	
	
}

/* .ivent2 {
	position: relative;
}  */
.date2 {
	top: 160px;
	left: 20px;
	
 }
 
.event-name2 {
	
	position: relative;
	top: 20px;
	left: 140px;
	font-size: 20px;
	color: #9ac9f4;
	width: 150px
	
}  
