* {
font-family:  Arial, Helvetica, sans-serif;
box-sizing: border-box;
 }
h1, h2, h3, h4,  {
	font-family:  Arial, Helvetica, sans-serif;
	font-weight: normal;
}
h1 {}
h2 {
	font: 2.25rem/1.2 Helvetica, Verdana, sans-serif;
}
h3 { }
h4 {
	font-size: 1.2rem;
}
h5 {}
h6 {}
p {	font-size: .925rem;
}


img {
	max-width: 100%;
}


/* Links */
a:link, a:visited {
	color: #4385c1;
	text-decoration: none;
}
a:hover, a:focus, a:active {
	color: #043867;
}

 
 body {
	background: white;
	color: #81858a;
	font: 1em/1.6 Helvetica, Verdana, sans-serif;
	
}
main {
 padding: 70px;
 padding-top: 10px
}

header {
	font-size: 1rem;
	box-sizing: border-box;

	width: 100%;
	
	
}

.header  { 
	display: flex;
	box-sizing: border-box;
	padding: 20px;
	width: 100%;
	background: white
	
}


.branding img {
	height:80px;
	width: 200px;
}

.branding {
	flex: 1;
	
}


#quick-nav {
	flex: 2;
		
}
#quick-nav ul {
	list-style: none;
	margin: 5px;
	padding:5px;
	
}

#quick-nav  li {
	display: inline-block;
	font-size: 1em;
	margin: 10px;
	
}

#quick-nav ul li a{
	color:#124191;
}



#quick-nav a:hover, #quick-nav a:focus, #quick-nav a:active {
	color: #9ac9f4;
}


.utilities  a {
	color: white;
	margin: 5px;
	padding: 5px 10px;
	flex: 1
}

.utilities i {
	color: #124191
}
.utilities {
	padding: 20px
}
#main-nav {
	background-color: #043867;
	font-family: Georgia, serif;
	font-size: 1.2em;
	
}

#main-nav li:hover {
	background-color: #002342;
}

#main-nav ul  {
	margin: 0;
	
}

#main-nav ul li {
	list-style: none;
	display: inline-block;

}

#main-nav ul li a {
	color: white;
	display: block;
	padding: 25px;	
	
}


	

#full-nav a:hover, #full-nav a:focus, #full-nav a:active {
	color: white;
}



.banner {
width: 90%;
	
	
}
.banner h3 {
	font-size: 2em;
	text-align: left;
	padding-left: 70px;
		
}

.banner h3 a {
	color: #001135;
	font-weight: 100;
}

.button {
	background: #124191;
	color: white;
	padding: 15px;
	width: 130px
}



.container {
      
	display: grid;
	text-align: center;
	grid-gap: 15px;
	grid-template-rows: auto;  
	grid-template-columns: repeat(3, 1fr);
	width: 100%;
	min-height: 500px;
	grid-template-areas:
	"cont1  cont1  cont1"
	"cont2 cont2 cont3"
	"cont4 cont5 cont6"
	"cont7 cont8 cont8"
	"cont9 cont10 cont11"

 
} 

.cont1 {
	position: relative;
	text-align: left;
	grid-area: cont1;
	width: 100%;
    height: 460px;

	background-image: url("pirveli.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
	background-origin: border-box;	
	
	
}
	.cont1 .imgtext {
		position: absolute;
		width: 60%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}



	.cont2 {
	position: relative;
	text-align: left;
	grid-area: cont2;
	width: 100%;
    height: 460px;
  
	background-image: url("meore.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
	background-origin: border-box;	
		}	
	
	
		.imgtext {
			position: absolute;
			width: 60%;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

	
	.cont3 {
	position: relative;
	text-align: left;
	grid-area: cont3;
	width: 100%;
    height: 460px;
   
	background-image: url("mesame.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
	background-origin: border-box;	
	}
		.imgtext {
		position: absolute;
		width: 60%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}


	.cont4 {
		position: relative;
		text-align: left;
		grid-area: cont4;
		width: 100%;
		height: 300px;
	
		background-image: url("meotxe.png");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		background-origin: border-box;	
		}
		.imgtext {
		position: absolute;
		width: 60%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.cont5 {
		position: relative;
		text-align: left;
		grid-area: cont5;
		width: 100%;
		height: 300px;
	
		background-image: url("mexute.png");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		background-origin: border-box;	
		}
		.imgtext {
		position: absolute;
		width: 60%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}	


	.cont6 {
		position: relative;
		text-align: left;
		grid-area: cont6;
		width: 100%;
		height: 300px;
	
		background-image: url("meeqvse.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		background-origin: border-box;	
		}
		.imgtext {
		position: absolute;
		width: 60%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}


	.cont7 {
		position: relative;
		text-align: left;
		grid-area: cont7;
		width: 100%;
		height: 300px;
	
		background-image: url("meshvide.png");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		background-origin: border-box;	
		}
		.imgtext {
		position: absolute;
		width: 60%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.cont8 {
		position: relative;
		text-align: left;
		grid-area: cont8;
		width: 100%;
		height: 300px;
		background-image: url("merve.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		background-origin: border-box;	
		}
		.imgtext {
		position: absolute;
		width: 70%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		
	}

.cont9  {
	border: 1px solid rgb(190, 200, 210);
	grid-area: cont9;
	height: 275px
			   
}
.cont10 {
	border: 1px solid rgb(190, 200, 210);
	  grid-area: cont10;
	  height: 275px
	
}
.cont11 {
	border: 1px solid rgb(190, 200, 210);
	grid-area: cont11;
	height: 275px
	
 }

	.title {
	   background-color: white;
	   color: #273147;
	   padding: 10px;
	   text-align: left
	}
	

	.inside {
		background-color: lightgray;
		padding:20px;
		text-align: left;
			   
	}
	.inside h4 a {
		color: #124191;
		font-weight: 100;
	}
	.imgtext {
		color: white
	}

	.text1 {
		color:#124191;
	}	

	.inside  a{
		color: #124191;
	}
	

.inside h4 a {
	color:#124191;
	font-weight: 100
	}

.more {
	background-color: lightgray;
	text-align: right;
	padding: 10px;
}

.arrow {
	float: left;
	position: relative
}
footer {
	background: lightgray;
	color:#4d5766;
	padding:50px;
	line-height: 36px;
	margin-top: 10px
	}


#full-nav {
	display: flex;
}

.full-nav-item {
	flex: 1;

}
.full-nav-item1 {
	flex: 1
}
.full-nav-item1 ul li {
	display: inline-block;

}
.full-nav-item1 ul li a {
	margin: 10px
	
}

#full-nav h3 a:link  {
	color: #4d5766;
	font-weight: normal;
}

#full-nav ul li  {
	list-style: none;

}

#full-nav ul {
	text-align: left;
	padding-left: 0;
}

#full-nav a:link, #full-nav a:visited {
	color: #4d5766;	
}
#full-nav a:hover, #full-nav a:focus, #full-nav a:active {
	color: grey;
}

   
.lastline {
	padding: 20px
}

#last-nav {
float: left;
}
#last-nav ul li a {
	color:grey;
    margin-left: 10px }

 #last-nav ul li p {
 color:grey }

#last-nav ul li { display: inline-block;
	list-style: none;
}


.language {
  float: right;
  padding:10px;
  margin: 16px;
}

