div {
    height: 150px;
}

#grad1 {
    background-image: radial-gradient(red, green, blue);
}

#grad2 {
    background-image: radial-gradient(red 5%, green 15%, blue 60%);
}

#grad3 {
    background: radial-gradient(circle, red 5%, green 15%, blue 60%);
}

#grad4 {
    background: repeating-radial-gradient(red 19%, blue 20%);
}

#grad5 {
    background: repeating-radial-gradient(circle at 100%, #333, #333 10px, #eee 10px, #eee 20px);
}

h1 {
    text-shadow: 4px 4px 5px red, 8px 8px 5px yellow;
}

h1.multiple {
    color: white;
    text-shadow: 1px 1px 2px #000, 0 0 25px blue, 0 0 5px darkblue;
}

.box {
    background-color: #222;
    text-align: center;
    line-height: 150px;
}

.box h1 {
    font-size: 36px;
    color: rgb(0, 0, 0, .6);
    text-shadow: 2px 2px 3px rgba(255, 255, 255, .1);
}

.box_shadow {
    width: 300px;
    height: 100px;
    background-color: yellow;
    box-shadow: 10px 10px 5px grey;

    margin-bottom: 150px;
}

.box_shadow:hover {
    box-shadow: 0 0 5px #333 inset;
}