div {
    margin: 20px;
    width: 300px;
    height: 100px;
    background-color: chartreuse;
    border: 1px solid #333;
}

div.translate {
    transform: translate(50px, 100px);
}

div.rotate {
    transform: rotate(90deg);
}

div.scale:hover {
    transform: scale(2.2) translate(100px, 20px);
}

div.skew {
    transform: skew(-20deg, -10deg);
}