*{
    margin: 0;
    padding: 0;
}

.container {
    width: 60%;
    margin: 0 auto;
}

#moviesTable {
    border-collapse:  collapse;
    margin-top: 5px;
    width: 100%;
}

#moviesTable th,
#moviesTable td {
    border: 1px solid black;
    padding: 5px
}