mixin product(product)
    div.product--box
        h2.product--title--item= product.title
        h4.product--price= `price - $${product.price.toString().slice(0,5)}`
        a(href=`/products${product.id}`).product--detail Details
        

include ../includes/header.pug

body
    h1= title
    hr
    div.wrapper
        each item in products
            +product(item)

    


