html, body {
    margin: 0;
}

*, *::after, *::before {
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
}

/* flex = flex-grow, flex-shrink, flex-basis 
default is flex: 0 1 auto;
*/

.wrapper>* {
    padding: 10px;
    flex: 1 100%;
}

.header {
    background-color: seagreen;
}

.footer {
    background-color: lightgreen;
}

.main {
    text-align: left;
    background-color: darkcyan;
}

.aside-1 {
    background-color: gold;
}

.aside-2 {
    background-color: hotpink;
}

@media only screen and (min-width: 600px) {
    .aside {
        flex: 1 auto;
    }
}

@media all and (min-width: 800px) {
    .main {
        flex: 3 0px;
    }
    .aside-1 {
        order: 1;
    }
    .main {
        order: 2;
    }
    .aside-2 {
        order: 3;
    }
    .footer {
        order: 4;
    }
}