@import 'normalize';


$font-family: 'Courier New', Courier, monospace;
$font-size: 2em;
$titleParent: info;
$grid: 12;
$column: 50px;
$gutter: 20px;
$container: ( $grid * $column) + ( $gutter * $grid); 

* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

.container {
    width: $container;
    padding: 30px;
    border:2px solid black;
    margin: 0 auto;
}
.title {
    color: mix(#ff7729, #eee);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    
    border: {
        left: 10px solid black;
        right: 5px solid red;
        bottom: 3px dotted seagreen;
        top: 6px dashed seagreen;
    }

    @media screen and (min-width: 960px){
        background-color: #ddd;
    }

    span {
        text-transform: capitalize;
        text-decoration: underline;
        color: mix(#8b3e11 , #fff);
        cursor: pointer;
        font: $font-size $font-family;
    }
    
    &:hover span{
        color: red;
    }

    .#{$titleParent} > &  {
        font-family: $font-family;
        height: (400px / 2);
    }
}

%message {
    border-radius: 10px;
    padding: 10px 20px;
}
.message--error {
    @extend %message;
    background-color: #ca2222; 
    color: #eee;
}
.message--info {
    @extend %message;
    background-color: #22cabc; 
    color: #eee;
}


@mixin customBtn($color, $hoverColor) {
    color: $color;
    border: none;
    outline: none;
    &:hover {
        color:$hoverColor;
    }
}

.btn {
    @include customBtn($color: #ca2222, $hoverColor: #22cabc)
}

