doctype html
head
    title Color Page
body(style=`background-color: ${color};`)
    form(action="", method="post")
        input(type="color", placeholder="choose your color", name="userColor")
        button(type="submit") send