doctype html
head
    title= DataBase
    link(rel="stylesheet", href="/css/main.css")
body
    h1= title
    hr

    div 
        p
            a(href="/persons") Available Persons
        p
            a(href="/persons/add") Add Person
        p
            a(href="/cars") Available Cars
        p
            a(href="/cars/add") Add Car



